.blog{
   padding: 10px;
   border-width: 3px;
   border-bottom: solid;
   border-color: white;
}

.posts{
   margin: 100px;
}
.post{
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 30px;
   border-width: 3px;
   border-style: solid;
   border-color: white;
   border-radius: 25px;

}
